.bg {
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    display: block;
    ::-webkit-scrollbar {
        display: none;
      }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.param-wrap {
    display: block;
    width: 80vw;
    height: 100vh;
    /* background-color: #FCFCFC; */
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}

.title {
    color: white;
    font-size: 2.5rem;
    font-weight: 800;
    display: block;
}

.split-container {
    display: flex;
    justify-content: flex-start;
}

.options-bg {
    display: block;
    width: 53vw;
    height: 100vh;
    /* background-color: #FCFCFC; */
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}
.options-container {
    display: flex;
    flex-wrap: wrap;
}

.options {
    width: 60.3125rem;
    height: 3.5625rem;
    border-radius: 2.5rem;
    /* background-color: white; */
    border: none;
    display: flex;
    justify-content: space-evenly;

}

.options-text {
    font-size: large;
    font-weight: 750;
    color: white;
}

.add-plant-btn {
    width: 11.25rem;
    height: 3.5625rem;
    border-radius: 2.5rem;
    background-color: #AA88FF;
    border: none;
    color: white;
    font-size: large;
    font-weight: 750;
}

.options-text {
    color: white
}

.new-plant {
    color: white;
    /* padding: 10px; */
    margin: 1.25rem; 
    width: 60.3125rem;
    height: 5rem;
    background-color: #A8FF35;
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-evenly;
}

.new-plant-text {
    color: white;
    font-size: x-large;
    font-weight: 750;

}

.plant-container {
    display: flex;
    flex-wrap: wrap;
}

.health-wrap {
    display: block;
    width: 11.25rem;
    height: 100vh;
    border-radius: 2.5rem;
    background-color: #FFEA17;
    align-items: center;
    align-content: center;
}

.health-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.new-health {
    width: 11.25rem;
    height: 3.5625rem;
    border-radius: 2.5rem;
    background-color: #FFBF00;
    margin: 1.25rem; 
    color: white;
    font-size: large;
    font-weight: 750;
}

.health-header {
    width: 11.25rem;
    height: 3.5625rem;
    border-radius: 2.5rem;
    /* background-color: #FFBF00; */
    border: none;
    color: white;
    font-size: large;
    font-weight: 750;
    vertical-align: top;
    
}

.health-text {
    color: white;
    width: 11.25rem;
    height: 5rem;
    border-radius: 2.5rem;
    background-color: #FFBF00;
    border: none;
    color: white;
    font-size: large;
    font-weight: 750;

}

.adjust {
    margin-top: -30px;
}